.options_block {
  background: #fff;
  margin-bottom: 16px;
}

.options_block .title {
  padding: 16px 20px 0;
  color: var(--minor-color);
  font-weight: bold;
}

.options_block .cont {
  padding: 16px 20px 20px;
}

.options_block .item {
  align-items: center;
}

.options_block .item .name {
  margin-left: 10px;
  font-size: 14px;
  color: var(--minor-color);
}

.options_block .itemNoFlex .sTitle {
  font-size: 14px;
}

.options_block .itemNoFlex .slider {
  justify-content: space-between;
  align-items: center;
}

.options_block .itemNoFlex .slider .el-slider {
  flex: 1;
}

.options_block .itemNoFlex .slider .el-slider .el-slider__bar {
  background: var(--main-color);
}

.options_block .itemNoFlex .slider .el-slider /deep/.el-slider__button {
  border-color: var(--main-color);
}

.options_block .itemNoFlex .slider .sliderRight {
  margin-left: 20px;
  font-size: 14px;
}
